*{
    padding: 0;
    margin: 0;
}
/* first-page */
.intro{
    background-color: rgb(255,186,0);
}
.container{

    padding: 20px; 
    font-family: fantasy;
    text-align: left;
    font-size: 30px;
    width: 40%;
}

.venue{
    margin-top: 400px;
    font-family:'Times New Roman', Times, serif;
    font-size: 24px;
}

input {
background-color: rgb(14,19,24);
color: white;
size: 40px;
margin-top: 90px;
}